
# Learning Objectives

By the end of this class, you will be able to...

  *  Write functions to compute probability and conditional probability
  *  Use Bayes formula to compute conditional probability

In [2]:
# importing all required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [3]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Activity (Titanic):

  *  Given that some passengers paid over $100 for their ticket, what is the chance they survived?
      *  Try, two approaches: P(survived = 1 | Fare > 100) directly
      *  Another way: Use Bayesian -> P(survived = 1 and Fare > 100)/ P(Fare > 100)

  *  Given that a passenger is under 30 but over 20 years old, what are the chances they are in first class?

  *  Given that a female passenger was unmarried, what are the chances that she survived?

  *  Given that a male passenger over 30 years did not survive, what are the odds that he paid less than $25 for a ticket?

  *  What is the probability that a survived passenger was man?

In [4]:
dict(df[df['Fare'] > 100]['Survived'].value_counts())

{1: 39, 0: 14}

In [5]:
39 / (39 + 14)

0.7358490566037735

In [6]:

# P(survived = 1 and Fare > 100)
P_Numerator = len(df[(df['Survived'] == 1) &  (df['Fare'] > 100)])/len(df)
# P(Fare > 100)
P_Denominator = len(df[df['Fare'] > 100])/len(df)

print(P_Numerator/P_Denominator)

0.7358490566037736